@use 'variaveis';
@use 'hero';
@use 'header';

@font-face {
    font-family: Alycidon;
    src: url(/assets/fonts/Alycidon-Condensed.otf);  
    font-weight: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: variaveis.$corDeFundo;
    font-family: Roboto;
}

