@use 'variaveis';
@use 'hero';
@use 'header';
@use 'show-info';
@use 'subscription-plans';
@use 'footer';

@font-face {
    font-family: Alycidon;
    src: url(/assets/fonts/Alycidon-Condensed.otf);  
    font-weight: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: variaveis.$corDeFundo;
}

